.statList {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 300px;
  padding: 0;
}
.item {
  padding: 5px;
  width: 60px;
  height: 40px;
}
.label,
.percentage {
  color: white;
  font-weight: 500;
  display: block;
  text-align: center;
}
